@inherits LayoutComponentBase

@inject IJSRuntime jsRuntimeService

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>


<MudLayout>
    <MudAppBar Class='appbar-top' Elevation="1" Fixed Dense>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Primary" Edge="Edge.End" />
    </MudAppBar>
        <MudDrawer Class='minidrawer' @bind-Open='_drawerOpen' Fixed='true' Elevation='1' Variant='DrawerVariant.Mini' OpenMiniOnHover='false'>
            <MudDrawerHeader Class='pr-4 pl-4' Dense>
                <div class='d-flex align-center justify-center'>
                    <MudIconButton OnClick="@((e) => DrawerToggle())"  Icon="@Icons.Material.Filled.Menu" 
                    Color="Color.Inherit" Size='Size.Small' />
                </div>
            </MudDrawerHeader>
            <MudNavMenu>
                <MudNavLink Class='font13 font-bold wspace-nowrap uppercase' Match="NavLinkMatch.All" Href='/about-me' Icon="@Icons.Filled.AccountCircle">About Me</MudNavLink>
                <MudNavLink Class='font13 font-bold wspace-nowrap uppercase' Match="NavLinkMatch.All" Href='/info' Icon="@Icons.Filled.LibraryBooks">Experience</MudNavLink>
                <MudNavLink Class='font13 font-bold wspace-nowrap uppercase' Match="NavLinkMatch.All" Href='/blazor-playground' Icon="@Icons.Custom.Brands.MudBlazor">Blazor Playground</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
    <MudMainContent Class='mainbody-container d-flex page-background-class'>
        @Body
    </MudMainContent>
    <MudAppBar Class='appbar-bottom pr-4 pl-4' Elevation='1' Fixed Dense Bottom>
        <MudSpacer />
        <MudText Class='color-black font12'>
            <div @ref='timeElement'></div>
        </MudText>
        <MudIconButton OnClick='ToggleFullScreen'  Icon='@Icons.Material.Filled.Fullscreen' Size='Size.Small' />
    </MudAppBar>
</MudLayout>

@code {
    ElementReference timeElement;
    bool _drawerOpen = true;
    private string imageSource = "../images/backgrounds/PatternImage.png";
   
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await jsRuntimeService.InvokeVoidAsync("startTime", timeElement);
    }
    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private async void ToggleFullScreen()
    {
        await jsRuntimeService.InvokeVoidAsync("openFullScreen");
    }
}