@page "/"

@* <PageTitle>Index</PageTitle> *@

<MudContainer Class='d-flex pa-2 gap-4' Fixed='false' MaxWidth='MaxWidth.False'>
    <div>
        <MudCard>
           <MudCardContent>
                Content Left
                <MudText Class='font-theramin' Typo='Typo.h6'>Dhaniele Joseph C. Demontaño</MudText>
           </MudCardContent>
           <MudCardContent Class='d-flex flex-column pa-2 gap-2 bgc-d3d3d330'>
                <div class='d-flex gap-1'>
                    <MudIcon Icon='@Icons.Filled.LocationOn' Size='Size.Small' />
                    <MudText Typo='Typo.body2'>Philippines, Iloilo City, 5000</MudText>
                </div>
                <div class='d-flex gap-2'>
                    <MudIcon Icon='@Icons.Filled.CalendarMonth' Size='Size.Small' />
                    <MudText Typo='Typo.body2'>August 16, 1990</MudText>
                </div>
                <div class='d-flex gap-2'>
                    <MudIcon Icon='@Icons.Filled.PhoneIphone' Size='Size.Small' />
                    <MudText Typo='Typo.body2'>+639664809506</MudText>
                </div>
                <div class='d-flex gap-2'>
                    <MudIcon Icon='@Icons.Custom.Brands.GitHub' Size='Size.Small' />
                    <MudLink Href="https://github.com/zeph016?tab=repositories" Typo='Typo.body2' 
                    Underline='Underline.None' Color='Color.Default'>
                        zeph016
                    </MudLink>
                </div>
                <div class='d-flex gap-2'>
                    <MudIcon Icon='@Icons.Custom.Brands.Facebook' Size='Size.Small' />
                    <MudLink Href="https://www.facebook.com/dhaniele.demontano/" Typo='Typo.body2' 
                    Underline='Underline.None' Color='Color.Default'>
                        dhaniele.demontano
                    </MudLink>
                </div>
                <div class='d-flex gap-2'>
                    <MudIcon Class='text-center' Icon='fa-brands fa-instagram' Size='Size.Small' />
                    <MudLink Href="https://www.instagram.com/dhanieledemontano" Typo='Typo.body2' 
                    Underline='Underline.None' Color='Color.Default'>
                        dhanieledemontano
                    </MudLink>
                </div>
            </MudCardContent>
           <MudCardActions Class='d-flex flex-column align-stretch pa-2 gap-2 bgc-d3d3d330'>
                <MudButton Class='' Variant='Variant.Filled' Color='Color.Primary'>Download CV</MudButton>
                <MudButton Class='' Variant='Variant.Filled' Color='Color.Primary'>See More</MudButton>
           </MudCardActions>
        </MudCard>
    </div>
    <div>
        <MudCard>
            <MudCardContent>
                Content Right
            </MudCardContent>
        </MudCard>
    </div>
</MudContainer>



@code {
    protected override async Task OnInitializedAsync()
    {
        
    }
}